<section id="about">
  <div class="hero-inner">
    <div class="hero-text">
      <h1>Привет! Я Григорий,<br />Junior Developer</h1>
      <p>
        Студент 3 курса СибГУТИ, начинающий разработчик из Бердска. Прошёл интенсивный курс
        iOS-разработки, активно изучаю веб-технологии и backend.
      </p>
      <a href="#contact" class="hero-link">More about me <span>›</span></a>
    </div>
    <div class="hero-image">
      <div class="hero-image-wrap">
        <img src="images/avatar.png" alt="Фото" />
        <img src="images/blogs-circle.png" class="blogs-circle-img" alt="My blogs" />
      </div>
    </div>
  </div>
</section>
