<footer id="contact">
  <div class="footer-inner">
    <div class="footer-left">
      <h2>Say hello and let's<br />work together !</h2>
      <p>Email: <a href="mailto:kovali94738@yandex.ru">kovali94738&#64;yandex.ru</a></p>
      <p>Телефон: <a href="tel:+79991234567">+7 (999) 123-45-67</a></p>
      <div class="footer-socials">
        <a href="https://vk.com/griga_niga">
          <img src="images/vk.png" alt="VK" />
        </a>
        <a href="https://t.me/kovali94738">
          <img src="images/tg.png" alt="Telegram" />
        </a>
        <a href="https://github.com/kovali2002">
          <img src="images/github.png" alt="GitHub" />
        </a>
      </div>
    </div>
    <div class="footer-right">
      <form (submit)="preventSubmit($event)">
        <label>Email</label>
        <input type="email" placeholder="Your email address" />
        <label>Input your message</label>
        <textarea placeholder="Describe your project"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <p class="footer-copy">© 2026 Grisha Kovalev</p>
</footer>
