<section id="work">
  <div class="work-inner">
    <div class="work-left">
      <h2>My work</h2>
      <p>Студент СибГУТИ, прохожу курсы и развиваюсь в IT. Ищу первую стажировку или работу.</p>
    </div>
    <div class="work-right">
      @for (item of workItems(); track item.title) {
        <div class="work-item">
          <img [src]="item.icon" alt="icon" class="work-icon" />
          <div class="work-info">
            <span class="work-period">{{ item.period }}</span>
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>
